<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      html, body { max-width: 100%; overflow-x: hidden; } body { background:
      rgb(0, 0, 0); color: white; } .containers { display: flex;
      justify-content: center; } .containers > img { width: 120px;} .display-2{
      display: flex; justify-content: center; } .container{ display: flex;
      justify-content: center; } .link1,.link2{ margin: 50px; padding: 20px; }
      @media screen and (max-width: 600px) { .container{ display: flex;
      flex-direction: column;} .containers > img { width: 70px;}}

    </style>
    <title>Home</title>
  </head>
  <body>

    <div class="container">
      <h1 class="display-2" style="margin: 10px">Cloudflix</h1></div>

    <div class="row">

      <div class="container">
        <a
          class="btn btn-outline-danger btn-lg link1"
          href="/register"
          role="button"
        >Register or Sign UP
          <i class="fa fa-registered" aria-hidden="true"></i></a>

        <a
          class="btn btn-outline-danger btn-lg link2"
          href="/login"
          role="button"
        >Login or Sign IN
          <i class="fa fa-sign-in" aria-hidden="true"></i></a>
      </div>

    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>